
<div class="header">
    <img class="logo" src="assets/images/Coats_Logo_Active.png">
    <div class="state-class">
      <img class="logo" src="assets/images/1.jpg" class="state">
      <img class="logo" src="assets/images/2.jpg" class="state">
      <img class="logo" src="assets/images/3.jpg" class="state">
      <img class="logo" src="assets/images/4.jpg" class="state">
    </div>
  </div>
  
  <div class="main">
      
    <ngb-tabset [destroyOnHide]="false">
      
      <ngb-tab title="Basic Setting" class="tabs">
        <ng-template ngbTabContent>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </ng-template>
      </ngb-tab>
       
      <ngb-tab>
        <ng-template ngbTabTitle>SMS Setting</ng-template>
        <ng-template ngbTabContent>
            <p>This is SMS Setting</p>
        </ng-template>
      </ngb-tab>
       
      <ngb-tab>
        <ng-template ngbTabTitle>Email Setting</ng-template>
        <ng-template ngbTabContent>
            <p>This is Email Setting</p>
        </ng-template>
      </ngb-tab>
       
      <ngb-tab title="Disabled">
        <ng-template ngbTabContent>
          <p>This is Disabled</p>
        </ng-template>
      </ngb-tab>
       
    </ngb-tabset>
    </div>